<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="main">
      <!-- <h1><%= title %></h1>
      <p>Welcome to <%= title %></p> -->
      <h1>Flatmates</h1>
      
      
      <div class="tenor-gif-embed" data-postid="15201259" data-share-method="host" data-width="90%" data-aspect-ratio="1.7785714285714287"><a href="https://tenor.com/view/knock-door-gif-15201259">Knock Door GIF</a> from <a href="https://tenor.com/search/knock-gifs">Knock GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
      <a  class="join"   href="/users/login">
        <h5>Are you memeber</h5>
        <button id="btn">Login</button>
      </a>
      
      <a class="join" href="/users/register">
        <h5>Join Us</h5>
        <button id="btn">Register</button>
      </a>

    </div>
  </body>
</html>
