<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <form action="/users/login" method="POST">
        <h1>Login</h1>
        <label for="email"> Email</label>
        <input type="text" name="email" id="email"  />
        <label for="password"> Password</label>
        <input type="password" name="password" id="password" />
        <input type="submit" value="Login" id="login" />
        <% if (message.length > 0) { %>
            <div class="error">*<%= message %></div>
        <% } %>
        
    </form>
    <a  class="join"   href="/auth/github">
        <button id="btn">GITHUB</button>
      </a>

    
</body>
</html>